body {
  background: #fff;
}
.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.main .server-range {
  flex-basis: 17rem;
}
.main .server-range .title {
  padding: 4rem 0 1.5rem 1rem;
  display: flex;
  background: #dedede;
}
.main .server-range .title .title-left {
  font-size: 7rem;
  margin-top: -13px;
}
.main .server-range .title .title-right {
  margin-left: 5px;
}
.main .server-range .title .title-right h2 {
  font-size: 2.5rem;
  letter-spacing: 5px;
}
.main .server-range .title .title-right span {
  font-size: 2rem;
}
.main .server-range .list {
  font-size: 1.4rem;
  color: #565656;
}
.main .server-range .list li {
  border-top: 1px solid #fff;
  display: inline-block;
  width: 204px;
  height: 36px;
  line-height: 36px;
  position: relative;
}
.main .server-range .list li .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-bottom: -6px;
  margin-left: -4.5px;
}
.main .server-range .list li a {
  display: block;
  height: 100%;
  padding: 0 25px 0 52px;
  color: #565656;
  position: relative;
  background: #e5e4e3;
}
.main .server-range .list li a.active {
  width: 144px;
  height: 48px;
  background: url("../../images/business/on.gif");
  color: #fff;
}
.main .server-range .list li a:hover {
  width: 144px;
  height: 48px;
  background: url("../../images/business/on.gif");
  color: #fff;
}
.main .content {
  margin-left: 3rem;
  margin-top: 3rem;
}
.main .content-title {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2rem 0 0;
}
.main .content-title h1 {
  color: #ac2d23;
  font-size: 2.5rem;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
}
.main .content-title ul {
  display: flex;
  position: absolute;
  right: 2rem;
  bottom: -8px;
}
.main .content-title ul li:after {
  content: '>';
}
.main .content-title ul li a {
  color: #000;
  font-size: 1.4rem;
  line-height: 45px;
}
.main .content-title ul li a:hover {
  color: #ac3c58;
  text-decoration: underline;
}
.main .book-list {
  width: 100%;
}
.main .book-list ul {
  display: flex;
  flex-wrap: wrap;
}
.main .book-list ul li {
  width: 19.3%;
  margin: 0.2rem;
}
.main .book-list ul li img {
  width: 100%;
  height: 100%;
}
.main .search {
  padding: 1rem 0;
}
.main .search .sa,
.main .search .sb {
  padding: 0.2rem 0.5rem;
  font-size: 1.4rem;
  outline: none;
}
.main .pagination {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  height: 39px;
  margin-top: 1rem;
}
.main .pagination ul {
  display: flex;
  justify-content: center;
}
.main .pagination ul li {
  border-right: 1px solid #e0e0e0;
}
.main .pagination ul li:last-child {
  border-right: none;
}
.main .pagination ul li.current a {
  background: #cff;
}
.main .pagination ul li a {
  display: block;
  padding: 0 1.3rem;
  font-size: 1.4rem;
  color: #777;
  height: 39px;
  line-height: 39px;
}
.main .pagination ul li a:hover {
  background: #9cc;
}
