@charset "utf-8";
*{
    margin: 0;
    padding: 0;}
html, body {
    margin: 0;
    padding: 0;
    font-family:"微软雅黑";
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
}
.header a{
    display: block;
    width: 100px;
    height: 25px;
    margin-top: 40px;
    margin-left: 30px;
}
hr{
    margin-bottom: 0;
}

.boxDom {
    background: #ccc;
    width: 100%;
    height:100%;
    position: relative;
    overflow: hidden;
}

.idDom {
    width: 100%;
    height: 60px;
    background: GrayText;
    position: fixed;
    bottom: 0;
}

.content {
    width: 500px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.title {
    display: inline;
    font-size: 24px;
    vertical-align: bottom;
    color: #fff;
}

.text {
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
}

.btn {
    width: 60px;
    height: 30px;
    background: blue;
    border: none;
    color: #fff;
    font-size: 14px;
}

.string {
    width: 300px;
    height: 40px;
    position: absolute;
    color: #000;
    font-size: 20px;
}