.content
  width 80%
  margin 3rem auto
  border-bottom 1px solid #666
  display flex
  // justify-content space-between
  .hot
    background #fff
    .hot-img
      display flex
      margin-top 1rem
      justify-content space-between
      a
        position relative
        display inline-block
        width 140px
        height 100px
        margin-right 1rem
        img
          width 100%
          height 100% 
        span
          display inline-block
          width 100%
          height 1.8rem
          line-height 1.8rem
          background #ad2e23
          position absolute
          bottom 0
          left 0
          color #fff
          box-sizing border-box
          padding 0 .5rem
          &:hover
            text-decoration underline
    .list
      padding 1rem 0
      ul
        padding 0 1.4rem
        color #ad2e23
        li
          list-style: square
          a
            box-sizing border-box
            height 1.8rem
            line-height 1.8rem
            color black
            font-size  1.4rem
            &:hover
              text-decoration underline
  .group
    // border 1px solid yellow  
    width 50%
    margin-left 3rem
    ul.list
      padding 1rem  3rem 0 0
      color #ad2e23
      li
        display flex
        justify-content space-between
        a
          font-size 1.4rem
          color black
          height 1.8rem
          line-height 1.8rem
          &:hover
           text-decoration underline
        span
          color #666   

// 公共样式 媒体热点，集团动态title
.title
  border-bottom 1px solid #ad2e23
  padding .5rem 0
  a
    font-size 1.6rem
    color #ad2e23
    font-weight 600