*{
  margin: 0;
  padding: 0;
}

/*清除浮动*/
.clear:before, .clear:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
}

header{
  width: 1200px;
  height: 100%;
  margin: 20px auto;
  background: #f1f1f1;
  position: relative;
  .header_l{
    //float: left;
    display: inline-block;
    position: absolute;
    height:0;
    width:750px;
    /*border-top:60px solid #e5c3b2;*/
    border-bottom:30px solid #507180;
    //border-left:0px solid black;
    border-right:30px solid transparent;
  }
  .header_r{
    //float: right;
    display: inline-block;
    position: absolute;
    height:0;
    width:412px;
    border-top:30px solid #c29f65;
    //border-bottom:30px solid #e5c3b2;
    border-left:30px solid transparent;
    //border-right:0 solid red;
    right:0;
  }


}
