/*标签 reset*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
li {
  list-style: none;
}
img {
  border: none;
}
a {
  text-decoration: none;
}
.clear:before,
.clear:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
}
/*search*/
.search {
  width: 293px;
  height: 32px;
  background: url("../img/search.png") no-repeat;
  position: absolute;
  display: inline-block;
  top: 33px;
  right: 0;
}
.search input {
  background: none;
  border: none;
  float: left;
  outline: none;
}
.search input[type=text] {
  width: 230px;
  height: 32px;
  font-size: 18px;
  padding-left: 20px;
  line-height: 32px;
}
.search input[type=submit] {
  width: 43px;
  height: 32px;
}
.search input[type=submit]:hover {
  cursor: pointer;
}
/*reset END*/
#top_bg {
  width: 100%;
  height: 30px;
  min-width: 960px;
  background: #000;
}
#top_bg #top {
  width: 960px;
  height: 30px;
  margin: 0 auto;
}
#top_bg #top ul.top_menu {
  float: left;
}
#top_bg #top ul.top_menu li {
  float: left;
  background: url("../img/top_icon.png") no-repeat right 13px;
  font-size: 13px;
  padding-right: 18px;
  margin-left: 15px;
  line-height: 30px;
}
#top_bg #top ul.top_menu li a {
  color: #c0c0c0;
}
#top_bg #top ul.top_menu li a:hover {
  color: #fff;
}
#top_bg #top ul.top_menu li.no_dot {
  background: none;
  padding-right: 0;
}
#top_bg #top ul.top_bar {
  float: right;
}
#top_bg #top ul.top_bar li {
  float: left;
  height: 30px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
}
#top_bg #top ul.top_bar li.phone {
  background: url("../img/top_icon.png") no-repeat 8px -16px;
  padding: 0 38px;
}
#top_bg #top ul.top_bar li.help {
  background: url("../img/top_icon.png") no-repeat 0 -46px;
  padding: 0 38px;
}
#top_bg #top ul.top_bar li.help a {
  color: #fff;
}
#top_bg #top ul.top_bar li.space {
  margin-right: 14px;
}
/*top END*/
header {
  width: 100%;
  min-width: 960px;
  background: #0d2f47;
}
header .header_body {
  width: 960px;
  height: 100px;
  margin: 0 auto;
  background: url("../img/header_img1.png") no-repeat;
  position: relative;
  /*shopping END*/
  /*search END*/
}
header .header_body div.shopping {
  width: 278px;
  height: 100px;
  background: url("../img/icon.png") no-repeat -12px -20px;
  position: relative;
  display: inline-block;
  float: left;
}
header .header_body div.shopping p {
  position: absolute;
  top: 32px;
  left: 84px;
  color: #f7f7f7;
}
header .header_body div.shopping a {
  font-size: 15px;
  color: #ffc200;
  width: 114px;
  height: 23px;
  position: absolute;
  display: inline-block;
  text-align: center;
  line-height: 23px;
  top: 63px;
  left: 103px;
  background: #b20e00;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border-top: 1px solid black;
}
header .header_body div.shopping a:hover {
  color: #FFE73E;
}
header .header_body h1 {
  display: inline-block;
  width: 226px;
  height: 100px;
  margin-left: 92px;
  text-align: center;
}
header .header_body h1 a {
  color: white;
  font-size: 35px;
  display: inline-block;
}
header .header_body h1 a:first-child {
  margin-top: 10px;
}
/*header END*/
#nav {
  width: 100%;
  min-width: 960px;
  height: 42px;
  background: #8a0d02;
  border-top: 1px solid #fa8749;
  border-bottom: 1px solid #400801;
  box-shadow: 0 5px 5px 5px #ccc;
}
#nav ul.menu {
  width: 960px;
  height: 42px;
  margin: 0 auto;
}
#nav ul.menu li {
  float: left;
  line-height: 42px;
}
#nav ul.menu li a {
  font-size: 16px;
  color: white;
  padding: 7px 17px 8px;
}
#nav ul.menu li:first-child {
  margin-left: 15px;
}
#nav ul.menu li.active a {
  background: #fa5454;
  border-radius: 5px;
  border-top: 1px solid #ffab63;
}
/*nav END*/
div.footer_search {
  width: 100%;
  height: 60px;
  background: #150200;
}
div.footer_search div {
  width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
div.footer_search div a {
  display: block;
  line-height: 60px;
  float: left;
  font-size: 14px;
  color: #cbcbcb;
  padding-left: 70px;
}
div.footer_search div a:nth-child(1) {
  background: url("../img/icon.png") no-repeat -16px -142px;
}
div.footer_search div a:nth-child(2) {
  background: url("../img/icon.png") no-repeat -16px -199px;
  margin-left: 36px;
}
div.footer_search .search {
  width: 293px;
  height: 32px;
  display: inline-block;
  float: right;
  top: 15px;
}
footer {
  width: 100%;
  height: 242px;
  background: #8a1303;
}
footer div.footer_content {
  width: 960px;
  margin: 0 auto;
}
footer div.footer_content div {
  float: left;
  width: 240px;
  height: 242px;
}
footer div.footer_content div a {
  font-size: 13px;
  color: #cfcfcf;
  margin-left: 20px;
  line-height: 20px;
  display: block;
}
footer div.footer_content div a:first-child {
  font-size: 18px;
  color: white;
  margin-top: 34px;
  font-weight: bold;
}
footer div.footer_content div a:nth-child(2) {
  margin-top: 26px;
}
footer div.footer_content div a:hover {
  color: #f3ffa6;
}
#content {
  width: 940px;
  margin: 23px auto;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px #ccc;
  padding: 10px;
  /*banner END*/
  /*main END*/
}
#content ul.banner {
  position: relative;
  width: 940px;
  height: 284px;
  margin: 0 auto;
}
#content ul.banner li {
  width: 940px;
  height: 284px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: absolute;
}
#content ul.banner li img {
  width: 100%;
  height: 100%;
}
#content ul.banner li aside {
  width: 940px;
  height: 52px;
  position: relative;
  bottom: 56px;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
#content ul.banner li aside h1,
#content ul.banner li aside p {
  display: inline-block;
  height: 52px;
  margin-left: 34px;
}
#content ul.banner li aside h1 {
  font-size: 25px;
  width: 214px;
  line-height: 52px;
}
#content ul.banner li aside p {
  position: absolute;
  font-size: 13px;
  width: 640px;
  top: 8px;
  line-height: 16px;
}
#content ul.banner li.prev,
#content ul.banner li.next {
  width: 70px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #993333;
  font-size: 20px;
  background: #f8fbfc;
  position: absolute;
  top: 100px;
  z-index: 999;
  display: none;
}
#content ul.banner li.prev {
  left: 0;
  border-radius: 0 8px 8px 0;
}
#content ul.banner li.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
#content ul.banner li.prev:hover,
#content ul.banner li.next:hover {
  cursor: pointer;
  background: #ecfce3;
}
#content ul.banner:hover li.prev,
#content ul.banner:hover li.next {
  display: block;
}
#content .main {
  width: 942px;
  margin: 30px auto;
  /*wrap END*/
}
#content .main div.side {
  width: 208px;
  float: left;
  /*side_menu END*/
  /*side_joinNow END*/
  /*payment END*/
}
#content .main div.side h3 {
  height: 30px;
  background: #ca2a27;
  border-radius: 10px 10px 0 0;
  text-align: center;
  line-height: 30px;
}
#content .main div.side ul.side_menu {
  height: 358px;
  padding: 19px 7px;
  border: 1px solid #f3dc94;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin-top: 1px;
  background: #ffeeb7;
}
#content .main div.side ul.side_menu li {
  height: 30px;
  border-bottom: 1px solid white;
  line-height: 30px;
}
#content .main div.side ul.side_menu li a {
  color: #434343;
  font-size: 13px;
  margin-left: 32px;
  font-weight: bold;
}
#content .main div.side ul.side_menu li.active a {
  color: #b20e00;
}
#content .main div.side ul.side_menu li:hover a {
  color: #b20e00;
}
#content .main div.side div.side_joinNow {
  width: 186px;
  height: 308px;
  background: #f5f5f2;
  border: 1px solid #e8e8e3;
  border-radius: 10px;
  margin-top: 14px;
  padding: 10px;
}
#content .main div.side div.side_joinNow p {
  font-size: 15px;
  color: #666666;
}
#content .main div.side div.side_joinNow input[type=text] {
  width: 165px;
  height: 25px;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  outline: none;
  padding-left: 10px;
  margin-top: 15px;
}
#content .main div.side div.side_joinNow input[type=submit] {
  width: 88px;
  height: 25px;
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
  margin-left: 50px;
  margin-top: 6px;
  background: #a20000;
  border-radius: 5px;
}
#content .main div.side div.side_joinNow input[type=submit]:hover {
  cursor: pointer;
}
#content .main div.side div.side_joinNow ul {
  margin-top: 14px;
}
#content .main div.side div.side_joinNow ul li {
  height: 45px;
  border-top: 1px solid white;
}
#content .main div.side div.side_joinNow ul li a {
  display: inline-block;
  width: 132px;
  height: 35px;
  padding-top: 10px;
  font-size: 13px;
  color: #434343;
  padding-left: 62px;
}
#content .main div.side div.side_joinNow ul li:nth-child(1) a {
  height: 45px;
  padding-top: 0;
  line-height: 45px;
  background: url("../img/icon.png") no-repeat -408px -20px;
}
#content .main div.side div.side_joinNow ul li:nth-child(2) a {
  background: url("../img/icon.png") no-repeat -408px -70px;
}
#content .main div.side div.side_joinNow ul li:nth-child(3) {
  background: url("../img/icon.png") no-repeat -408px -120px;
}
#content .main div.side div.side_joinNow ul li:nth-child(4) {
  background: url("../img/icon.png") no-repeat -408px -170px;
}
#content .main div.side #payment {
  width: 210px;
  margin-top: 32px;
  text-align: center;
}
#content .main div.side #payment :first-child {
  margin-left: 7px;
}
#content .main div.wrap {
  width: 706px;
  height: 950px;
  overflow: hidden;
  float: right;
  /*page END*/
  /*featured END*/
}
#content .main div.wrap div.products h2 {
  font-size: 18px;
  height: 58px;
  line-height: 62px;
  overflow: hidden;
  color: #666666;
}
#content .main div.wrap div.products ul.pic_list {
  width: 728px;
}
#content .main div.wrap div.products ul.pic_list li {
  float: left;
  width: 182px;
  height: 200px;
  line-height: 16px;
}
#content .main div.wrap div.products ul.pic_list li a {
  display: block;
  width: 156px;
  height: 116px;
  border: 1px solid #c6c6c6;
  margin-bottom: 4px;
}
#content .main div.wrap div.products ul.pic_list li a:hover {
  border: 1px solid #e88989;
}
#content .main div.wrap div.products ul.pic_list li h3 {
  font-size: 15px;
  color: #666666;
}
#content .main div.wrap div.products ul.pic_list li p {
  font-size: 13px;
}
#content .main div.wrap div.products ul.pic_list li p span {
  color: #b20e00;
}
#content .main div.wrap div.products ul.pic_list li:first-child {
  margin-left: 0;
}
#content .main div.wrap div.page {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#content .main div.wrap div.page a {
  line-height: 20px;
  font-size: 12px;
  color: #b20e00;
  height: 20px;
  padding: 0 4px;
  font-family: '宋休', serif;
}
#content .main div.wrap div.page a:hover,
#content .main div.wrap div.page a.active {
  background: #b20e00;
  color: white;
}
#content .main div.wrap h2 {
  font-size: 18px;
  color: #666666;
  height: 52px;
  line-height: 62px;
  overflow: hidden;
}
#content .main div.wrap div.featured {
  width: 685px;
  height: 182px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  box-shadow: 0 0 10px 3px #ccc;
  /*pre next*/
  /*pre next END*/
}
#content .main div.wrap div.featured div.list_wrap {
  width: 615px;
  margin: 0 auto;
  padding-top: 20px;
  overflow: hidden;
}
#content .main div.wrap div.featured div.list_wrap ul {
  height: 140px;
  position: relative;
  left: 0;
}
#content .main div.wrap div.featured div.list_wrap ul li {
  float: left;
  display: inline-block;
  width: 205px;
  height: 140px;
  text-align: center;
}
#content .main div.wrap div.featured div.list_wrap ul li img {
  border: 1px solid #ccc;
}
#content .main div.wrap div.featured div.list_wrap ul li p {
  width: 145px;
  margin: 0 auto;
  font-size: 12px;
  color: #660000;
}
#content .main div.wrap div.featured a.prev,
#content .main div.wrap div.featured a.next {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #b2b2b2;
  text-align: center;
  top: 70px;
}
#content .main div.wrap div.featured a.prev span,
#content .main div.wrap div.featured a.next span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 8px solid rgba(0, 0, 0, 0);
  /*border:8px solid red;*/
  bottom: 8px;
}
#content .main div.wrap div.featured a.prev {
  left: 0;
}
#content .main div.wrap div.featured a.prev span {
  border-right: 8px solid #151515;
  left: 5px;
}
#content .main div.wrap div.featured a.next {
  right: -1px;
}
#content .main div.wrap div.featured a.next span {
  border-left: 8px solid #151515;
  left: 15px;
}
#content .main div.wrap div.featured a.prev:hover,
#content .main div.wrap div.featured a.next:hover {
  cursor: pointer;
  background: #959db2;
}
/*content END*/
