@import './common/normalize.css';
@import './common/util.css';
@import './shouye.css';
.toTop {
  position: fixed;
  right: 3rem;
  bottom: 5rem;
  z-index: 1;
  opacity: 0;
  transition: 1s linear;
}
.toTop:hover {
  cursor: pointer;
}
.toTop .icon {
  width: 3.2rem;
  height: 3.2rem;
}
.foot-top {
  width: 100%;
  border-bottom: 1px solid #e5e4e2;
  border-top: 1px solid #e5e4e2;
  margin: 2rem 0;
  padding: 0 2rem;
  box-sizing: border-box;
}
.foot-top .foot-top-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 3rem 0;
  justify-content: space-between;
  align-items: center;
}
.foot-top .foot-top-content .follow {
  display: flex;
}
.foot-top .foot-top-content .follow ul {
  display: flex;
}
.foot-top .foot-top-content .follow ul li {
  margin-left: 2rem;
}
.foot-top .foot-top-content .follow ul li:hover {
  cursor: pointer;
}
.foot-top .foot-top-content .follow ul li .weixin,
.foot-top .foot-top-content .follow ul li .weibo,
.foot-top .foot-top-content .follow ul li .qq,
.foot-top .foot-top-content .follow ul li .mail {
  width: 3.2rem;
  height: 3.2rem;
}
.foot-top .foot-top-content .follow span {
  word-break: normal;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  margin-right: 2rem;
}
.foot-top .foot-top-content .search {
  width: 50%;
  font-size: 0;
}
.foot-top .foot-top-content .search .input,
.foot-top .foot-top-content .search .submit {
  outline: none;
  font-size: 1.6rem;
  border: 1px solid #e5e4e2;
}
.foot-top .foot-top-content .search .input {
  padding: 1rem;
  width: 70%;
  border-right: none;
}
.foot-top .foot-top-content .search .submit {
  background: #0f0f0f;
  color: #fff;
  padding: 1.1rem 1.5rem;
}
.foot-top .foot-top-content .search .submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
footer {
  width: 100%;
  background: #23282f;
  color: #fff;
  padding-top: 5.2rem;
  margin-top: 5rem;
}
footer .footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 4.8rem;
}
footer .footer .company {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 20rem;
  margin-right: 3rem;
}
footer .footer .company .culture {
  margin-bottom: 1rem;
}
footer .footer .company .culture .culture-logo {
  margin: 0 auto;
  width: 4.8rem;
  height: 4.8rem;
}
footer .footer .company .culture .culture-logo img {
  border-radius: 50%;
  width: 100%;
}
footer .footer .company .culture p {
  margin: 1rem 0;
}
footer .footer .company ul.social {
  display: flex;
  justify-content: center;
}
footer .footer .company ul.social li {
  position: relative;
  border: 1px solid #5a5956;
  padding: 0.5rem;
  margin-right: 1rem;
}
footer .footer .company ul.social li:not(.li-weixin):hover {
  background: #016579;
  cursor: pointer;
}
footer .footer .company ul.social li.li-weixin:hover {
  background: #016579;
}
footer .footer .company ul.social li.li-weixin:hover .weixin-layer {
  opacity: 1;
  transform: scale(1, 1);
  transform-origin: -50% 150%;
}
footer .footer .company ul.social li .weixin,
footer .footer .company ul.social li .weibo,
footer .footer .company ul.social li .qq,
footer .footer .company ul.social li .mail {
  width: 2rem;
  height: 2rem;
}
footer .footer .company ul.social li .weixin-layer {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: -8rem;
  right: -8rem;
  transform: scale(0, 0);
  z-index: 1;
  transition: 0.5s;
}
footer .footer .company ul.social li .weixin-layer img {
  width: 100%;
}
footer .footer .works,
footer .footer .aboutUs,
footer .footer .contact,
footer .footer .recruit {
  margin-left: 3rem;
}
footer .footer .works h1,
footer .footer .aboutUs h1,
footer .footer .contact h1,
footer .footer .recruit h1 {
  margin-bottom: 1rem;
  letter-spacing: 1rem;
}
footer .footer .works ul li,
footer .footer .aboutUs ul li,
footer .footer .contact ul li,
footer .footer .recruit ul li {
  padding: 0.3rem 0;
  transition: 0.5s;
}
footer .footer .works ul li:before,
footer .footer .aboutUs ul li:before,
footer .footer .contact ul li:before,
footer .footer .recruit ul li:before {
  content: '>';
  margin-right: 2rem;
}
footer .footer .works ul li:hover a,
footer .footer .aboutUs ul li:hover a,
footer .footer .contact ul li:hover a,
footer .footer .recruit ul li:hover a {
  transform: translateX(-10px);
  color: #9d426b;
}
footer .footer .works ul li a,
footer .footer .aboutUs ul li a,
footer .footer .contact ul li a,
footer .footer .recruit ul li a {
  position: absolute;
  transition: 0.5s;
  color: #fff;
}
footer .footer-bottom {
  width: 100%;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  color: #8b8b8b;
  background: #272c33;
}
footer .footer-bottom a {
  color: #8b8b8b;
}
footer .footer-bottom a:hover {
  text-decoration: underline;
}
.content {
  width: 80%;
  margin: 3rem auto;
  border-bottom: 1px solid #666;
  display: flex;
}
.content .hot {
  background: #fff;
}
.content .hot .hot-img {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.content .hot .hot-img a {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 100px;
  margin-right: 1rem;
}
.content .hot .hot-img a img {
  width: 100%;
  height: 100%;
}
.content .hot .hot-img a span {
  display: inline-block;
  width: 100%;
  height: 1.8rem;
  line-height: 1.8rem;
  background: #ad2e23;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.content .hot .hot-img a span:hover {
  text-decoration: underline;
}
.content .hot .list {
  padding: 1rem 0;
}
.content .hot .list ul {
  padding: 0 1.4rem;
  color: #ad2e23;
}
.content .hot .list ul li {
  list-style: square;
}
.content .hot .list ul li a {
  box-sizing: border-box;
  height: 1.8rem;
  line-height: 1.8rem;
  color: #000;
  font-size: 1.4rem;
}
.content .hot .list ul li a:hover {
  text-decoration: underline;
}
.content .group {
  width: 50%;
  margin-left: 3rem;
}
.content .group ul.list {
  padding: 1rem 3rem 0 0;
  color: #ad2e23;
}
.content .group ul.list li {
  display: flex;
  justify-content: space-between;
}
.content .group ul.list li a {
  font-size: 1.4rem;
  color: #000;
  height: 1.8rem;
  line-height: 1.8rem;
}
.content .group ul.list li a:hover {
  text-decoration: underline;
}
.content .group ul.list li span {
  color: #666;
}
.title {
  border-bottom: 1px solid #ad2e23;
  padding: 0.5rem 0;
}
.title a {
  font-size: 1.6rem;
  color: #ad2e23;
  font-weight: 600;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-wrapper {
  transition-duration: 2s;
}
.swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  background: #fff;
}
.swiper-container .swiper-wrapper .swiper-slide a {
  display: block;
}
.swiper-container .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
}
.show {
  width: 80%;
}
.show .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}
.show .swiper-wrapper .swiper-slide {
  position: relative;
  width: 33%;
  transition: 0.5s;
}
.show .swiper-wrapper .swiper-slide:hover {
  opacity: 0.9;
}
.show .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.show .swiper-wrapper .swiper-slide span {
  box-sizing: border-box;
  width: 100%;
  background: #369;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
}
.show .next,
.show .prev {
  width: 25px;
  height: 42px;
  background-color: rgba(0,0,0,0.5);
}
.show .next.next,
.show .prev.next {
  background-image: url("../images/icon/right.png");
}
.show .next.next:hover,
.show .prev.next:hover {
  background-image: url("../images/icon/right-1.png");
}
.show .next.prev,
.show .prev.prev {
  background-image: url("../images/icon/left.png");
}
.show .next.prev:hover,
.show .prev.prev:hover {
  background-image: url("../images/icon/left-1.png");
}
